#pop_basket {
    display: block;
}

.layer_cont {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 330px;
    background-color: white;
    border: 1px solid black;
    padding: 30px;
}

.layer_cont>p {
    margin: 0;
    display: block;
    padding: 20px;
    line-height: 1.4;
    font-size: 16px;
}

.btn_wrap {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.btn_gray_small {
    margin: 0 4px;
    height: 37px;
    width: 140px;
    min-width: 130px;
    font-size: 14px;
    line-height: auto;
    background-color: #7d7d7d;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #7d7d7d;
    cursor: pointer;
}

.btn_black_small {
    margin: 0 4px;
    width: 140px;
    min-width: 130px;
    height: 37px;
    font-size: 14px;
    line-height: auto;
    background-color: #000000;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #000000;
    cursor: pointer;
}

.btn_close {
    background-color: white;
    border: none;
    font-size: 18px;
    text-align: center;
    color: #4e4e4e;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
